{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {%block title%} {%endblock%} | ABRAWORKS</title>
    <link rel="stylesheet" href="{% static '/style/bootstrap_min.css' %}">
    <link rel="stylesheet" href="{% static '/style/style.css' %}">
    {% block css_files%} {%endblock%}
</head>
<body>

    <header>
        {% include 'app/partials/_navbar.html' %} 
    </header>

    
        {% if messages  %}
            {% for message in messages  %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Hey!</strong> {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
                
            {% endfor %}
        {% endif %}

    <br>
    
    {% block content %}

    {% endblock %}

    <script src="{% static 'js/bootstrap.min.js'%}"> </scirpt>
    <script src="{% static 'js/base.js'%}"> </scirpt>
        {% block js_files %} {% endblock %}
</body>
</html>