
    
   
{% extends "app/base.html" %}

{%block css_files%}

{%endblock%}

{%block title%} 
    Anasayfa
{%endblock%}


{% block content %}

{% if user.is_authenticated %}
                
<p>  Hoşgeldin {{user.first_name}} {{user.last_name}} </p>

{% endif %}



<div class="container mt-3">
    <div class="row">

        {% include 'app/partials/_sidebar.html' %}
        <div class="col-9">

       

            
            {% for article in articles%}
                {% include 'libraries/partials/_card.html'%}
            {% endfor %}

            



            
        </div>
            

        </div>
    </div>

</div>

{% endblock %}
