
    
   
{% extends "app/base.html" %}

{%block css_files%}

{%endblock%}

{%block title%} 
    Works || ABRATECH
{%endblock%}


{% block content %}





<div class="container mt-3">
    <div class="row">

        {% include 'app/partials/_sidebar.html' %}
        <div class="col-9">

            {% if user.is_superuser %}
                {% for work in works%}
                    {% if user == work.appointer %}
                        {% include 'partials/_workCard.html'%}
                    {% elif user in work.appointed.all %}
                    {% include 'partials/_workCard.html'%}
                    

                    {% endif %}
                {% endfor %}

            {% else %}

                {% for work in works%}
                    {% if user in work.appointed.all %}
                        {% include 'partials/_workCard.html'%}
                    {% endif %}
                {% endfor %}

            
            {% endif %}

       
            
            
            

            



            
        </div>
            

        </div>
    </div>

</div>

{% endblock %}
