{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {%block title%} {%endblock%} | Makale Arşivi</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block css_files%} {%endblock%}
</head>
<body>
    <header style="background-color: black; padding:auto"> 
        <a href="index" style="color: white;"> <Center> <H1> MAKALE ARŞİVİ</H1></Center> </a>
    </header>
    
    {% block content %}

    {% endblock %}
</body>
</html>