<div class="col-3">
  <ul class="list-group">

    


    <a href = {% url 'profile'%} style="text-decoration:none;" >
      <li class="{% if request.resolver_match.url_name == "profile"%} list-group-item-action active {% endif %} list-group-item"> Profil  </li>
    </a>

    <a href = {% url 'works'%} style="text-decoration:none;" >
      <li class=" {% if request.resolver_match.url_name == "works"%} list-group-item-action active {% endif %} list-group-item"> Works  </li>
    </a>

    <a  href = {% url 'staffs'%} style="text-decoration:none;" >
      <li class=" {% if request.resolver_match.url_name == "staffs"%} list-group-item-action active {% endif %}  list-group-item"> Personeller  </li>
    </a>


    <!--
      {%for yeart in years%}
        {% if year == yeart %}
        <a href = {% url 'archive_year' yeart %} style="text-decoration:none;" >
          <li class="list-group-item list-group-item-action active" > {{yeart}}  </li>
        </a>
        {% else %}
        <a href = {% url 'archive_year' yeart %} style="text-decoration:none;" >
          <li class="list-group-item"> {{yeart}}  </li>
        </a>
        {% endif %}
      {%endfor%}
      -->
    </ul>
</div>